[Unit]
Description=checks if installed on virtual machine or not
After=multi-user.target display-manager.service pacman-init.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/arcolinux-virtual-machine-check
TimeoutSec=900

[Install]
WantedBy=multi-user.target
