[Unit]
Description=checks if installed on virtual machine or not
After=default.target

[Service]
Type=oneshot
ExecStart=timeout 20 /usr/local/bin/arcolinux-virtual-machine-check
TimeoutSec=900

[Install]
WantedBy=multi-user.target
